[submodule "OneDrive/Desktop/New folder/OneDrive/Desktop/New folder/product-list"]
	path = OneDrive/Desktop/New folder/OneDrive/Desktop/New folder/product-list
	url = https://github.com/M-Ahmad-ma/product-list.git
